body, html {
  margin: 0;
  padding: 0;
}

.editContainer {
  width: 100%;
  height: 130vh;
  background: linear-gradient(to right, #ddd6f3, #faaca8);
  padding-top: 100px;
  margin-left: -30px;
  margin-top: 90px;
  margin-right: 150px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  animation: emergeOut 1s ease-out;
 
}

.feedContainer {
  width: 750px;
  height: 750px;
  background: white;
  padding: 40px 60px;
  text-align: center;
  margin-bottom: 100px;
  animation: emergeOut 1s ease-out; 
}

@keyframes emergeOut {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.feedContainer h1 {
  margin: 20px 0px;
  font-weight: 300;
  color: black;
}

.customer-detail {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 20px;
}

.customer-detail input {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 10px;
}

.customer-detail .feedback-desription {
  height: 100px;
}

.feedContainer .screenshot {
  margin-top: 15px;
  margin-left: -330px;
}

.submit button {
  width: 100%;
  height: 55px;
  color: white;
  background: linear-gradient(to right, #00467f, #a5cc82);
  margin-top: 25px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
