body, html {
  margin: 0;
  padding: 0;
}

.loginsignup
{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #ddd6f3, #faaca8);
  padding-top: 100px;
  animation: emergeOut 1s ease-out;
  margin-top: 60px;
}

.loginsignup-container
{
   width: 1000px;
   height: 550px;
   background: white;
   margin: auto;
   padding: 40px 60px;
   animation: emergeOut 1s ease-out; 

}

@keyframes emergeOut {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.loginsignup-container h1
{
  margin: 20px 0px;

}

.loginsignup-fields
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.loginsignup-fields input
{
  height: 60px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;

}

.loginsignup-container button
{
  width: 580px;
  height: 62px;
  color: white;
  background: linear-gradient(to right, #00467f, #a5cc82);
  margin-top: 20px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsignup-login
{
 margin-top: 15px;
 color: #5c5c5c;
 font-size: 18px;
 font-weight: 500;
}

.loginsignup-login span
{
  color: #ff4141;
  font-weight: 600;
}

.loginsignup-agree
{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}