* {
  margin: 0;
  padding: 0;
}

.navbar 
{
   width: 100%;
   height: 100px;
   background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 

}
.login
{
  color: white;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;

}

.login-link
{
  color:white;
  text-decoration: none;
}
.nav_box 
{
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop-icon
{
  font-size: 80px;
}

.shopify-link
{
  color:white;
  text-decoration: none;
}

.my_shop 
{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.symbol-add
{ font-size: 20px;
  height: 20px;
  width: 20px;  
  align-items: center;
  justify-content: center;
   font-weight: bolder;
}

.symbol-help
{
  font-size: 20px;
  height: 20px;
  width: 20px;  
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  margin-left: 5px;
}

.cart 
{
  cursor: pointer;
}

.cart span:nth-child(1) 
{
  font-size: 3rem;
  color: white;
}

.cart span:nth-child(2) 
{
  padding: 0 3px;
  background-color: red;
  font-size: 25px;
  color: white;
  font-weight: bolx;
  border-radius: 50%;
  position: relative;
  top: -25px;
  left: -10px;
}