.newsletter
{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  gap: 30px;
  margin-top: 90px;
  margin-bottom: -20px;
}

.newsletter h1
{
  color: white;
  font-size: 55px;
  font-weight: 600;
}

.newsletter p
{
  color: white;
  font-size: 20px;
}

.newsletter div
{
  display:flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.newsletter input
{
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
}

.newsletter div button 
{
  width: 210px;
  height: 70px;
  border-radius:80px ;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}